html {
    overflow-y: hidden;
}


/* make our pages full width and full height */


/* positioned absolutely so that the pages can overlap each other as they enter and leave */

.page {
    font-family: Helvetica;
    font-size: 60px;
    position: absolute;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.page h1 {
    font-size: 40px;
}

.page a {
    margin-top: 50px;
    text-decoration: none;
    color: #777;
}


/* pages with ng pageClass */

.page-home {
    background: #00D0BC;
    color: #333;
}

.page-about {
    background: #E59400;
    color: #222;
}

.page-404 {
    background: #ffa6bb;
    color: #9e0000;
}